/*!************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[3].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[3].oneOf[7].use[3]!./app/modulestyles/SearchedHotels.module.css ***!
  \************************************************************************************************************************************************************************************************************************************************************************************/
.SearchedHotels_inputNumberArrowStyle__1Obdj::-webkit-outer-spin-button,
.SearchedHotels_inputNumberArrowStyle__1Obdj::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.SearchedHotels_inputNumberArrowStyle__1Obdj[type='number'] {
  -moz-appearance: textfield;
}

